name: master

on:
  push:
    branches: [ master ]

jobs:
  publish_nuget:
    name: Publish NuGet package
    runs-on: ubuntu-latest
    # needs: [build_test_mac, build_test_linux, build_test_windows]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup environment variables
        run: |
          APP_VERSION=`cat VERSION`
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7'

      - name: Publish NuGet package
        shell: pwsh
        run: |
          $env:NugetApiKey = "${{ secrets.NUGET_API_KEY }}"
          ls
          ./pack.ps1 ${{ env.APP_VERSION }}